<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Contador</title>
  <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
 <div class="contador-grande" id="contador" data-inicio="{{fecha_inicio}}">
    <!-- JS calcula años/días/horas/minutos/segundos en tiempo real -->
  </div>
  <div class="estadisticas">
    <span id="stat-fotos">0</span> fotos
    <span id="stat-viajes">0</span> viajes
    <span id="stat-series">0</span> series
  </div>
  <script src="public/js/main.js"></script>
</body>
</html>
