<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{nombre1}} & {{nombre2}}</title>
  <link rel="stylesheet" href="public/css/style.css">
</head>
<body class="pantalla-intro">
  <audio autoplay loop>
    <source src="public/audio/intro.mp3" type="audio/mpeg">
  </audio>

  <h1>{{nombre1}} & {{nombre2}}</h1>
  <p>Nuestra historia.</p>
  <p>Desde ... Hasta hoy.</p>

  <a href="index.php?route=timeline" class="btn-continuar">Continuar</a>
</body>
</html>
